<body>
  <main>
    {{#if errorMessage}}
      <div class="user-message user-message--error">
        {{errorMessage}}
      </div>
    {{/if}}
    <form class="login-form" action="/signup" method="POST">
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <div class="form-control">
        <label for="email">
          E-mail
        </label>
        <input class="{{#if validationStyles.email}} invalid{{/if}}" id="email" type="text" name="email" value="{{oldInput.email}}" />
      </div>
      <div class="form-control">
        <label for="password">
          Password
        </label>
        <input
          class="{{#if validationStyles.password}} invalid{{/if}}"
          id="password"
          type="password"
          name="password"
          value="{{oldInput.password}}"
        />
      </div>
      <div class="form-control">
        <label for="confirmPassword">
          Confirm Password
        </label>
        <input
          class="{{#if validationStyles.confirmPassword}} invalid{{/if}}"
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          value="{{oldInput.confirmPassword}}"
        />
      </div>
      <button class="button" type="submit">
        SignUp
      </button>
    </form>
  </main>
</body>