<body>
  <main>
    {{#if errorMessage}}
      <div class="user-message user-message--error">
        {{errorMessage}}
      </div>
    {{/if}}
    <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
      <div class="form-control">
        <label for="title">
          Title
        </label>
        <input
        class="{{#if validationStyles.title}} invalid{{/if}}"
        value="{{product.title}}" id="title" type="text" name="title" />
      </div>
      <div class="form-control">
        <label for="price">
          Price
        </label>
        <input
          class="{{#if validationStyles.price}} invalid{{/if}}"
          value="{{product.price}}"
          id="price"
          type="number"
          name="price"
          step="0.01"
        />
      </div>
      <div class="form-control">
        <label for="image">
          Image
        </label>
        <input
          id="image"
          type="file"
          name="image"
        />
      </div>
      <div class="form-control">
        <label for="description">
          Description
        </label>
        <textarea
          class="{{#if validationStyles.description}} invalid{{/if}}"
          id="description" type="text" name="description" rows="5">
          {{product.description}}
        </textarea>
      </div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <button class="submit-button" type="submit">
        Add product
      </button>
    </form>
  </main>
</body>